* {
    margin: 0;
}

img {
    width: 50%;
}

p {
    color: black;
}

@media only screen and (max-width: 700px) {
    img {
        width: 100%;
    }
    p {
        color: purple;
    }
}

@media only screen and (max-width: 500px) {
    p {
        color: red;
    }
}